/* Formatações gerais */
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: #000000;
    box-sizing: border-box;
    transition: .1s;
}

body {
    background: #F2F2F2 url(../img/background.svg) no-repeat right top fixed;
    font-family: Roboto, sans-serif;
    font-size: 14px;
}

div#container {
    margin: 0 auto;
    width: 75%;
    min-width: 320px;
    padding: 2%;
}

/* Formatações do cabeçalho */
header {
    margin-left: -30px;
}

header a#area-logo {
    display: flex;
    align-items: center;
    transition: 0.2s;
}

header a#area-logo:hover {
    padding-left: 1%;
    transform: scale(1.05);
}

header a#area-logo img {
    width: 100px;
}

/* Formatação de clases usuais */
.gray {
    color: #6E6E6E;
}

.font-16 {
    font-size: 16px;
}